.product-detail-container {
  display: flex;
  margin: auto;
  width: 80%;
  padding-top: 1em;
  justify-content: space-between;
}

/* right aside */

.product-detail-right {
  width: 45%;
}

.product-detail-title {
  margin-top: 0;
}

.product-detail-title::after {
  content: "";
  display: block;
  height: 2px;
  background: rgb(72,181,148);
  background: linear-gradient(90deg, rgba(72,181,148,1) 0%, rgba(135,255,219,1) 45%, rgba(72,181,148,1) 100%);
  margin-top: 15px;
  width: 100px;
}

/* product image */

#product-detail-image {
  width: 45%;
}

